.table {
  width: 600px;
  border-collapse: collapse;

  margin-left: 20px;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
td.type {
  text-transform: capitalize;
}

th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: lightgray;
}
tr {
  transition: transform 0.3s ease;
}

tr:hover {
  background-color: yellow;
}
